{% if site.owner.dribbble %}<a href="https://dribbble.com/{{ site.owner.dribbble }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.email %}<a href="mailto:{{ site.owner.email }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.facebook %}<a href="https://www.facebook.com/{{ site.owner.facebook }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.flickr %}<a href="https://www.flickr.com/{{ site.owner.flickr }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.github %}<a href="https://github.com/{{ site.owner.github }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.instagram %}<a href="https://instagram.com/{{ site.owner.instagram }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.linkedin %}<a href="https://www.linkedin.com/in/{{ site.owner.linkedin }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.pinterest %}<a href="https://www.pinterest.com/{{ site.owner.pinterest }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.twitter %}<a href="https://www.twitter.com/{{ site.owner.twitter }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.stackoverflow %}<a href="http://stackoverflow.com/{{ site.owner.stackoverflow }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.youtube %}<a href="https://youtube.com/{{ site.owner.youtube }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}
{% if site.owner.googleplus %}<a href="https://plus.google.com/{{ site.owner.googleplus }}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>{% endif %}