<meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <link rel="canonical" href="{{ site.url }}/" />
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:locale" content="tr_TR" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter }}" />
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Mustafa Kemal Kılıç",
      "jobTitle": "Mechanical Engineer",
      "url": "http://mkemal.org",
      "sameAs": [
        "http://www.facebook.com/ingeniarius",
        "https://twitter.com/mkemal",
        "http://instagram.com/mkemalkilic",
        "http://www.linkedin.com/in/mkemal"
      ]
    }
    </script>