
//
// VARIABLES
//

// Colors
$blue: #1B81CF;
$green: #37B038;
$yellow: #F8AB00;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$headlines: 'Cabin Condensed', sans-serif;
$sans: 'Open Sans', sans-serif;
$serif: 'Habibi', serif;
$monospace: 'Droid Sans Mono', monospace;

// Responsive Navigation
$content-width: 100%;
$breakpoint: 640px;
$nav-height: 70px;
$nav-background: 0;
$nav-font-color: $darkerGray;
$link-hover-color: 0;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

$micro            : "only screen and (min-width: 1em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";