
//
// VARIABLES
//

// Colors
$blue: #1B81CF;
$green: #37B038;
$yellow: #F8AB00;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Responsive Navigation
$content-width: 100%;
$breakpoint: 640px;
$nav-height: 70px;
$nav-background: $white;
$nav-font-color: $darkerGray;
$link-hover-color: $white;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}